/* Elimina el margen del body y evita el desbordamiento del video */
body {
  margin: 0;
  overflow: hidden; /* Evita el desbordamiento del video */
}

/* Estilo para el elemento de video */
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /*Escala el vídeo para cubrir completamente su contenedor*/
  z-index: -1; /* Coloca el video detrás de otros elementos */
}

.login-container {
  margin-top: 50px;
  text-align: center;

  background: rgba(23, 83, 214, 0.411); /* Fondo blanco con opacidad */
  
  border-radius: 10px; /* Borde redondeado para suavizar los bordes */
  padding: 20px; /* Espaciado interior */
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: azure;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5); /* Efecto de sombra */
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: azure;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.5); /* Efecto de sombra */
}

Form {
  margin-top: 20px;

}

/* Estilos para inputs */
.form-control-lg {
  width: 100%;
  font-size: 1rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 20px; /* Espacio vertical entre los campos */
  max-width: 400px; /* Ancho máximo */
  box-sizing: border-box; /* Incluye el padding y el borde en el cálculo del ancho */
}


FormGroup {
  margin-bottom: 20px;
}

Label {
  font-size: 1.2rem;
}

Input {
  width: 100%;
  font-size: 1rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

Button {
  background-color: #007bff;
  color: #fff;
  margin-top: 15px;
  font-size: 1rem; /* Cambia a rem para hacerlo más escalable */
  padding: 0.75rem 1.5rem; /* Cambia a rem para hacerlo más escalable */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

Button:hover {
  background-color: #0056b3;
}



