/* Estilo para centrar el formulario en el medio de la pantalla */

/* Hace que el body no tenga margen y evita el desbordamiento del video */
body {
  margin: 0;
  overflow: hidden; /* Evita el desbordamiento del video */
}

/* Define un contenedor principal con una altura mínima igual a la altura de la ventana (viewport height) */
#main {
  min-height: 100vh;
  position: relative;
}

/* Estilo para el elemento de video */
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Coloca el video detrás de otros elementos */
}

/* Estilo para el contenedor del formulario de inicio de sesión */
.login-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra horizontal y verticalmente */
  background-color: rgba(17, 64, 143, 0.6); /* Fondo del formulario con transparencia */
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra para el formulario */
  z-index: 1; /* Coloca el formulario delante del video */
}
